In [1]:
import pandas as pd

# Pandas

In [2]:
users = pd.read_table('./data/user.tbl', sep='|')
ufo = pd.read_csv('./data/ufo.csv')

### Apply

In [11]:
# apply an arbitrary function to each value of a Pandas column,
# storing the result in a new column

users.head()
def under30(num):
    return num < 30

user_is_under_30 = users.loc[:,'age'].apply(under30)
users.loc[user_is_under_30,:]

     user_id  age gender     occupation zip_code
0          1   24      M     technician    85711
2          3   23      M         writer    32067
3          4   24      M     technician    43537
8          9   29      M        student    01002
11        12   28      F          other    06405
15        16   21      M  entertainment    10309
20        21   26      M         writer    30068
21        22   25      M         writer    40206
23        24   21      F         artist    94533
29        30    7      M        student    55436
30        31   24      M         artist    10003
31        32   28      F        student    78741
32        33   23      M        student    27510
34        35   20      F      homemaker    42459
35        36   19      F        student    93117
36        37   23      M        student    55105
37        38   28      F          other    54467
42        43   29      F      librarian    20854
43        44   26      M     technician    46260
44        45   29      M     programmer    50233
45        46   27      F      marketing    46538
48        49   23      F        student    76111
49        50   21      M         writer    52245
50        51   28      M       educator    16509
51        52   18      F        student    55105
52        53   26      M     programmer    55414
53        54   22      M      executive    66315
55        56   25      M      librarian    46260
56        57   16      M           none    84010
57        58   27      M     programmer    52246
..       ...  ...    ...            ...      ...
874      875   24      F        student    35802
879      880   13      M        student    83702
885      886   20      M        student    61820
886      887   14      F        student    27249
888      889   24      M     technician    78704
892      893   25      M        student    95823
895      896   28      M         writer    91505
897      898   23      M      homemaker    61755
902      903   28      M       educator    20850
903      904   17      F        student    61073
904      905   27      M          other    30350
906      907   25      F          other    80526
909      910   28      M     healthcare    29301
912      913   27      M        student    76201
915      916   27      M       engineer    N2L5N
916      917   22      F        student    20006
918      919   25      M          other    14216
920      921   20      F        student    98801
921      922   29      F  administrator    21114
922      923   21      M        student    E2E3R
923      924   29      M          other    11753
924      925   18      F       salesman    49036
926      927   23      M     programmer    55428
927      928   21      M        student    55408
929      930   28      F      scientist    07310
932      933   28      M        student    48105
935      936   24      M          other    32789
938      939   26      F        student    33319
940      941   20      M        student    97229
942      943   22      M        student    77841

[409 rows x 5 columns]

In [7]:
under30(50)

False

In [13]:
# apply an arbitrary function to each row of a DataFrame,
# storing the result in a new column

users.loc[:,'under30'] = user_is_under_30
users

     user_id  age gender     occupation zip_code  under30
0          1   24      M     technician    85711     True
1          2   53      F          other    94043    False
2          3   23      M         writer    32067     True
3          4   24      M     technician    43537     True
4          5   33      F          other    15213    False
5          6   42      M      executive    98101    False
6          7   57      M  administrator    91344    False
7          8   36      M  administrator    05201    False
8          9   29      M        student    01002     True
9         10   53      M         lawyer    90703    False
10        11   39      F          other    30329    False
11        12   28      F          other    06405     True
12        13   47      M       educator    29206    False
13        14   45      M      scientist    55106    False
14        15   49      F       educator    97301    False
15        16   21      M  entertainment    10309     True
16        17   30      M     programmer    06355    False
17        18   35      F          other    37212    False
18        19   40      M      librarian    02138    False
19        20   42      F      homemaker    95660    False
20        21   26      M         writer    30068     True
21        22   25      M         writer    40206     True
22        23   30      F         artist    48197    False
23        24   21      F         artist    94533     True
24        25   39      M       engineer    55107    False
25        26   49      M       engineer    21044    False
26        27   40      F      librarian    30030    False
27        28   32      M         writer    55369    False
28        29   41      M     programmer    94043    False
29        30    7      M        student    55436     True
..       ...  ...    ...            ...      ...      ...
913      914   44      F          other    08105    False
914      915   50      M  entertainment    60614    False
915      916   27      M       engineer    N2L5N     True
916      917   22      F        student    20006     True
917      918   40      M      scientist    70116    False
918      919   25      M          other    14216     True
919      920   30      F         artist    90008    False
920      921   20      F        student    98801     True
921      922   29      F  administrator    21114     True
922      923   21      M        student    E2E3R     True
923      924   29      M          other    11753     True
924      925   18      F       salesman    49036     True
925      926   49      M  entertainment    01701    False
926      927   23      M     programmer    55428     True
927      928   21      M        student    55408     True
928      929   44      M      scientist    53711    False
929      930   28      F      scientist    07310     True
930      931   60      M       educator    33556    False
931      932   58      M       educator    06437    False
932      933   28      M        student    48105     True
933      934   61      M       engineer    22902    False
934      935   42      M         doctor    66221    False
935      936   24      M          other    32789     True
936      937   48      M       educator    98072    False
937      938   38      F     technician    55038    False
938      939   26      F        student    33319     True
939      940   32      M  administrator    02215    False
940      941   20      M        student    97229     True
941      942   48      F      librarian    78209    False
942      943   22      M        student    77841     True

[943 rows x 6 columns]

In [24]:
#applying row wise to dataframe instead of element wise to a series
def over30_or_female(row):
    return row['age']>30 or row['gender'] == "F"

users.loc[:,'over30_or_female'] = users.apply(over30_or_female, axis=1)
users

# compact way to do it:
users.loc[:,'over30_or_female'] = (
    users.apply(lambda row: row['age']>30 or row['gender'] == "F", axis=1)
)
users
#lambda is basically creating function on the fly

     user_id  age gender     occupation zip_code  under30  over30_or_female
0          1   24      M     technician    85711     True             False
1          2   53      F          other    94043    False              True
2          3   23      M         writer    32067     True             False
3          4   24      M     technician    43537     True             False
4          5   33      F          other    15213    False              True
5          6   42      M      executive    98101    False              True
6          7   57      M  administrator    91344    False              True
7          8   36      M  administrator    05201    False              True
8          9   29      M        student    01002     True             False
9         10   53      M         lawyer    90703    False              True
10        11   39      F          other    30329    False              True
11        12   28      F          other    06405     True              True
12        13   47      M       educator    29206    False              True
13        14   45      M      scientist    55106    False              True
14        15   49      F       educator    97301    False              True
15        16   21      M  entertainment    10309     True             False
16        17   30      M     programmer    06355    False             False
17        18   35      F          other    37212    False              True
18        19   40      M      librarian    02138    False              True
19        20   42      F      homemaker    95660    False              True
20        21   26      M         writer    30068     True             False
21        22   25      M         writer    40206     True             False
22        23   30      F         artist    48197    False              True
23        24   21      F         artist    94533     True              True
24        25   39      M       engineer    55107    False              True
25        26   49      M       engineer    21044    False              True
26        27   40      F      librarian    30030    False              True
27        28   32      M         writer    55369    False              True
28        29   41      M     programmer    94043    False              True
29        30    7      M        student    55436     True             False
..       ...  ...    ...            ...      ...      ...               ...
913      914   44      F          other    08105    False              True
914      915   50      M  entertainment    60614    False              True
915      916   27      M       engineer    N2L5N     True             False
916      917   22      F        student    20006     True              True
917      918   40      M      scientist    70116    False              True
918      919   25      M          other    14216     True             False
919      920   30      F         artist    90008    False              True
920      921   20      F        student    98801     True              True
921      922   29      F  administrator    21114     True              True
922      923   21      M        student    E2E3R     True             False
923      924   29      M          other    11753     True             False
924      925   18      F       salesman    49036     True              True
925      926   49      M  entertainment    01701    False              True
926      927   23      M     programmer    55428     True             False
927      928   21      M        student    55408     True             False
928      929   44      M      scientist    53711    False              True
929      930   28      F      scientist    07310     True              True
930      931   60      M       educator    33556    False              True
931      932   58      M       educator    06437    False              True
932      933   28      M        student    48105     True             False
933      934   61      M       engineer    22902    False              True
934      935   42      M         doctor    66221    False              True
935      936   24      M          other    32789     True             False
936      937   48      M       educator    98072    False              True
937      938   38      F     technician    55038    False              True
938      939   26      F        student    33319     True              True
939      940   32      M  administrator    02215    False              True
940      941   20      M        student    97229     True             False
941      942   48      F      librarian    78209    False              True
942      943   22      M        student    77841     True             False

[943 rows x 7 columns]

### String Methods

In [25]:
# Use string methods to change State abbreviations in ufo data to uppercase
ufo.loc[:,'State'].str.lower()

0        ny
1        nj
2        co
3        ks
4        ny
5        nd
6        ca
7        mi
8        ak
9        or
10       ca
11       al
12       sc
13       ia
14       mi
15       ca
16       ca
17       ga
18       tn
19       ak
20       ne
21       la
22       la
23       ky
24       wv
25       ca
26       wv
27       nm
28       nm
29       ut
         ..
80513    nj
80514    ma
80515    va
80516    ca
80517    nh
80518    pa
80519    il
80520    pa
80521    oh
80522    ma
80523    md
80524    wa
80525    ia
80526    ma
80527    wa
80528    oh
80529    wa
80530    fl
80531    va
80532    ma
80533    ia
80534    tx
80535    ky
80536    pa
80537    ne
80538    ne
80539    oh
80540    az
80541    il
80542    fl
Name: State, Length: 80543, dtype: object

In [27]:
# Get a Boolean series that indicates which elements of ufo
# "Colors Reported" column contain the substring "RED"
ufo.loc[:,'Colors Reported'].str.contains('RED', na='False')

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12        True
13       False
14       False
15       False
16       False
17       False
18       False
19        True
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
80513    False
80514    False
80515    False
80516    False
80517    False
80518    False
80519     True
80520    False
80521    False
80522    False
80523    False
80524     True
80525    False
80526    False
80527    False
80528     True
80529    False
80530    False
80531    False
80532    False
80533    False
80534    False
80535    False
80536     True
80537    False
80538    False
80539    False
80540     True
80541     True
80542    False
Name: Colors Reported, Length: 80543, dtype: object

In [28]:
help(str)

Help on class str in module builtins:

class str(object)
 |  str(object='') -> str
 |  str(bytes_or_buffer[, encoding[, errors]]) -> str
 |
 |  Create a new string object from the given object. If encoding or
 |  errors is specified, then the object must expose a data buffer
 |  that will be decoded using the given encoding and error handler.
 |  Otherwise, returns the result of object.__str__() (if defined)
 |  or repr(object).
 |  encoding defaults to sys.getdefaultencoding().
 |  errors defaults to 'strict'.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(...)
 |      S.__format__(format_spec) -> str
 |
 |      Return a formatted version of S as described by format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.n
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return self*value.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  capitalize(...)
 |      S.capitalize() -> str
 |
 |      Return a capitalized version of S, i.e. make the first character
 |      have upper case and the rest lower case.
 |
 |  casefold(...)
 |      S.casefold() -> str
 |
 |      Return a version of S suitable for caseless comparisons.
 |
 |  center(...)
 |      S.center(width[, fillchar]) -> str
 |
 |      Return S centered in a string of length width. Padding is
 |      done using the specified fill character (default is a space)
 |
 |  count(...)
 |      S.count(sub[, start[, end]]) -> int
 |
 |      Return the number of non-overlapping occurrences of substring sub in
 |      string S[start:end].  Optional arguments start and end are
 |      interpreted as in slice notation.
 |
 |  encode(...)
 |      S.encode(encoding='utf-8', errors='strict') -> bytes
 |
 |      Encode S using the codec registered for encoding. Default encoding
 |      is 'utf-8'. errors may be given to set a different error
 |      handling scheme. Default is 'strict' meaning that encoding errors raise
 |      a UnicodeEncodeError. Other possible values are 'ignore', 'replace' and
 |      'xmlcharrefreplace' as well as any other name registered with
 |      codecs.register_error that can handle UnicodeEncodeErrors.
 |
 |  endswith(...)
 |      S.endswith(suffix[, start[, end]]) -> bool
 |
 |      Return True if S ends with the specified suffix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      suffix can also be a tuple of strings to try.
 |
 |  expandtabs(...)
 |      S.expandtabs(tabsize=8) -> str
 |
 |      Return a copy of S where all tab characters are expanded using spaces.
 |      If tabsize is not given, a tab size of 8 characters is assumed.
 |
 |  find(...)
 |      S.find(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  format(...)
 |      S.format(*args, **kwargs) -> str
 |
 |      Return a formatted version of S, using substitutions from args and kwargs.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  format_map(...)
 |      S.format_map(mapping) -> str
 |
 |      Return a formatted version of S, using substitutions from mapping.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  index(...)
 |      S.index(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  isalnum(...)
 |      S.isalnum() -> bool
 |
 |      Return True if all characters in S are alphanumeric
 |      and there is at least one character in S, False otherwise.
 |
 |  isalpha(...)
 |      S.isalpha() -> bool
 |
 |      Return True if all characters in S are alphabetic
 |      and there is at least one character in S, False otherwise.
 |
 |  isdecimal(...)
 |      S.isdecimal() -> bool
 |
 |      Return True if there are only decimal characters in S,
 |      False otherwise.
 |
 |  isdigit(...)
 |      S.isdigit() -> bool
 |
 |      Return True if all characters in S are digits
 |      and there is at least one character in S, False otherwise.
 |
 |  isidentifier(...)
 |      S.isidentifier() -> bool
 |
 |      Return True if S is a valid identifier according
 |      to the language definition.
 |
 |      Use keyword.iskeyword() to test for reserved identifiers
 |      such as "def" and "class".
 |
 |  islower(...)
 |      S.islower() -> bool
 |
 |      Return True if all cased characters in S are lowercase and there is
 |      at least one cased character in S, False otherwise.
 |
 |  isnumeric(...)
 |      S.isnumeric() -> bool
 |
 |      Return True if there are only numeric characters in S,
 |      False otherwise.
 |
 |  isprintable(...)
 |      S.isprintable() -> bool
 |
 |      Return True if all characters in S are considered
 |      printable in repr() or S is empty, False otherwise.
 |
 |  isspace(...)
 |      S.isspace() -> bool
 |
 |      Return True if all characters in S are whitespace
 |      and there is at least one character in S, False otherwise.
 |
 |  istitle(...)
 |      S.istitle() -> bool
 |
 |      Return True if S is a titlecased string and there is at least one
 |      character in S, i.e. upper- and titlecase characters may only
 |      follow uncased characters and lowercase characters only cased ones.
 |      Return False otherwise.
 |
 |  isupper(...)
 |      S.isupper() -> bool
 |
 |      Return True if all cased characters in S are uppercase and there is
 |      at least one cased character in S, False otherwise.
 |
 |  join(...)
 |      S.join(iterable) -> str
 |
 |      Return a string which is the concatenation of the strings in the
 |      iterable.  The separator between elements is S.
 |
 |  ljust(...)
 |      S.ljust(width[, fillchar]) -> str
 |
 |      Return S left-justified in a Unicode string of length width. Padding is
 |      done using the specified fill character (default is a space).
 |
 |  lower(...)
 |      S.lower() -> str
 |
 |      Return a copy of the string S converted to lowercase.
 |
 |  lstrip(...)
 |      S.lstrip([chars]) -> str
 |
 |      Return a copy of the string S with leading whitespace removed.
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  partition(...)
 |      S.partition(sep) -> (head, sep, tail)
 |
 |      Search for the separator sep in S, and return the part before it,
 |      the separator itself, and the part after it.  If the separator is not
 |      found, return S and two empty strings.
 |
 |  replace(...)
 |      S.replace(old, new[, count]) -> str
 |
 |      Return a copy of S with all occurrences of substring
 |      old replaced by new.  If the optional argument count is
 |      given, only the first count occurrences are replaced.
 |
 |  rfind(...)
 |      S.rfind(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  rindex(...)
 |      S.rindex(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  rjust(...)
 |      S.rjust(width[, fillchar]) -> str
 |
 |      Return S right-justified in a string of length width. Padding is
 |      done using the specified fill character (default is a space).
 |
 |  rpartition(...)
 |      S.rpartition(sep) -> (head, sep, tail)
 |
 |      Search for the separator sep in S, starting at the end of S, and return
 |      the part before it, the separator itself, and the part after it.  If the
 |      separator is not found, return two empty strings and S.
 |
 |  rsplit(...)
 |      S.rsplit(sep=None, maxsplit=-1) -> list of strings
 |
 |      Return a list of the words in S, using sep as the
 |      delimiter string, starting at the end of the string and
 |      working to the front.  If maxsplit is given, at most maxsplit
 |      splits are done. If sep is not specified, any whitespace string
 |      is a separator.
 |
 |  rstrip(...)
 |      S.rstrip([chars]) -> str
 |
 |      Return a copy of the string S with trailing whitespace removed.
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  split(...)
 |      S.split(sep=None, maxsplit=-1) -> list of strings
 |
 |      Return a list of the words in S, using sep as the
 |      delimiter string.  If maxsplit is given, at most maxsplit
 |      splits are done. If sep is not specified or is None, any
 |      whitespace string is a separator and empty strings are
 |      removed from the result.
 |
 |  splitlines(...)
 |      S.splitlines([keepends]) -> list of strings
 |
 |      Return a list of the lines in S, breaking at line boundaries.
 |      Line breaks are not included in the resulting list unless keepends
 |      is given and true.
 |
 |  startswith(...)
 |      S.startswith(prefix[, start[, end]]) -> bool
 |
 |      Return True if S starts with the specified prefix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      prefix can also be a tuple of strings to try.
 |
 |  strip(...)
 |      S.strip([chars]) -> str
 |
 |      Return a copy of the string S with leading and trailing
 |      whitespace removed.
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  swapcase(...)
 |      S.swapcase() -> str
 |
 |      Return a copy of S with uppercase characters converted to lowercase
 |      and vice versa.
 |
 |  title(...)
 |      S.title() -> str
 |
 |      Return a titlecased version of S, i.e. words start with title case
 |      characters, all remaining cased characters have lower case.
 |
 |  translate(...)
 |      S.translate(table) -> str
 |
 |      Return a copy of the string S in which each character has been mapped
 |      through the given translation table. The table must implement
 |      lookup/indexing via __getitem__, for instance a dictionary or list,
 |      mapping Unicode ordinals to Unicode ordinals, strings, or None. If
 |      this operation raises LookupError, the character is left untouched.
 |      Characters mapped to None are deleted.
 |
 |  upper(...)
 |      S.upper() -> str
 |
 |      Return a copy of S converted to uppercase.
 |
 |  zfill(...)
 |      S.zfill(width) -> str
 |
 |      Pad a numeric string S with zeros on the left, to fill a field
 |      of the specified width. The string S is never truncated.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  maketrans(x, y=None, z=None, /)
 |      Return a translation table usable for str.translate().
 |
 |      If there is only one argument, it must be a dictionary mapping Unicode
 |      ordinals (integers) or characters to Unicode ordinals, strings or None.
 |      Character keys will be then converted to ordinals.
 |      If there are two arguments, they must be strings of equal length, and
 |      in the resulting dictionary, each character in x will be mapped to the
 |      character at the same position in y. If there is a third argument, it
 |      must be a string, whose characters will be mapped to None in the result.

### Datetimes

In [34]:
# convert a string to the datetime format
ufo.loc[:,'Time'] = pd.to_datetime(ufo.loc[:,'Time'])

In [38]:
# Get ufo Time column in hours
ufo.loc[:,'Time'].apply(type)
ufo.loc[:,'Time'].dt.hour

0        22
1        20
2        14
3        13
4        19
5        15
6         0
7         0
8        17
9         0
10       21
11       20
12       20
13        2
14       13
15       11
16        0
17       22
18        1
19       23
20       15
21        0
22        0
23       11
24       10
25       12
26       12
27       11
28       12
29       10
         ..
80513     8
80514     9
80515    16
80516    17
80517    19
80518    19
80519    20
80520    20
80521    20
80522    20
80523    20
80524    21
80525    21
80526    21
80527    21
80528    21
80529    22
80530    22
80531    22
80532    22
80533    22
80534    22
80535    22
80536    23
80537    23
80538    23
80539     1
80540     2
80541     3
80542     5
Name: Time, Length: 80543, dtype: int64

In [43]:
# Get number of days spanned by events in ufo dataset
ufo.loc[:,'Time'].max() - ufo.loc[:,'Time'].min()

Timedelta('30776 days 07:30:00')

### Changing How DataFrames Are Displayed

In [47]:
# change the maximum number of rows and columns printed
pd.set_option('max_rows',100)
pd.set_option('max_columns', 3)

# Python Style

**Warning:** Everybody likes clean, consistent code; but nobody likes a legalistic zealot.

### PEP8

[PEP8](https://www.python.org/dev/peps/pep-0008/) is the standard style guide for Python.

- Use 4-space indentation
- Keep line lengths below 80 characters.
    - Prefer splitting inside (), [], {} instead of using \\.
    - Put operator at the start of the new line instead of the end of the old line.

Yes:

```python
my_new_variable = (old_variable1
                   * old_variable2
                   + old_variable3
                   - old_variable4
                   - old_variable5)

my_new_variable = (
    old_variable1 * old_variable2 + old_variable3 - old_variable4 - old_variable5
    )

my_new_variable = (old_variable1 * old_variable2 + old_variable3
                   - old_variable4 - old_variable5)
```

No:

```python
my_new_variable = old_variable1 * old_variable2 + old_variable3 - old_variable4  - old_variable5

my_new_variable = old_variable1\
                  * old_variable2\
                  + old_variable3\
                  - old_variable4\
                  - old_variable5
```

- Creating strings with either single or double-quotes is fine. If your string contains quotes of one type, use the other type to create it to that you don't have to use backslashes in the strings.

Yes:

```python
'dog'
"cat"
"can't"
'She said "run!"'
```

No:

```python
'can\'t'
"She said \"run!\""
```

- [Whitespace rules](https://www.python.org/dev/peps/pep-0008/#id27)
- Always surround these binary operators with a single space on either side: assignment (=), augmented assignment (+=, -= etc.), comparisons (==, <, >, !=, <>, <=, >=, in, not in, is, is not), Booleans (and, or, not).
- Don't use spaces around the = sign when used to indicate a keyword argument or a default parameter value.

Yes:
```python
def complex(real, imag=0.0):
    return magic(r=real, i=imag)
```

No:
```python
def complex(real, imag = 0.0):
    return magic(r = real, i = imag)
```

### LowClass Python

[This style guide](http://columbia-applied-data-science.github.io/pages/lowclass-python-style-guide.html) is meant for data scientists and others who write code but aren't exactly professional programmers.

- Write functions that take well-defined inputs and produce well-defined output.
- Do not have multiple levels of nesting within a function. As soon as you drop down to a lower level of abstraction, create a helper function.

```python
def extract_feature_counts(data_string):
    """
    Some docstring here...
    """
    cleaned_data_string = _clean(data_string)
    word_counts = _count_words(cleaned_data_string)

    return word_counts


def _clean(data_string):
    # Some code here.
    return cleaned_data_string


def _count_words(data_string):
    # Some code here.
    return word_counts
```

**Notice:**

- A leading underscore in a function name indicates that the function is "private," meaning that you don't intend for anyone else to use it.

### General Principles of Software Design

1. Run all the tests.
2. Eliminate duplication.
3. Express your intent.
4. Minimize the number of classes, methods, and functions.

### Additional Resources

- [Google Style Guide](http://google.github.io/styleguide/pyguide.html)
- [Clean Code](https://www.amazon.com/Clean-Code-Handbook-Software-Craftsmanship/dp/0132350882)
- [The Pragmatic Programmer](https://www.amazon.com/Pragmatic-Programmer-Journeyman-Master/dp/020161622X/ref=pd_sim_14_3?_encoding=UTF8&pd_rd_i=020161622X&pd_rd_r=KAF4G8CGK7T9PFT998E2&pd_rd_w=u0wda&pd_rd_wg=KHmIe&psc=1&refRID=KAF4G8CGK7T9PFT998E2)

# Jupyter Notebooks, REPLs, Text Editors, and IDEs

### REPLs

- REPL = Read-Evaluate-Print Loop.

ipython a little nicer than python
-exit() to get out of python
-exit to get out of ipython

### Jupyter Notebooks

- Jupyter Notebooks are browser-based frontends to REPL sessions (using the `iPython` kernel for Python).
- Ability to mix text and media with code is powerful for documentation and reporting.
- Ability to run cells out of order is a double-edged sword.
    - Great for exploration and presentation.
    - Doesn't enforce reproducibility.

### Text Editors

##### Options

- **Too simple:** Notepad, TextEdit, Nano

- **Powerful but demanding:** Emacs, Vim

- **Approachable and moderately powerful:** Sublime Text, Atom

### IDEs

##### Options

- Rodeo (similar to RStudio)
- Spyder (similar to Matlab)
- PyCharm (aimed at Python developers)

##### Opinionated Advice

- **For this class:** Use Jupyter.
- **For quick one-off tasks:** Use `ipython`.
- **When writing code to run repeatedly:** Move to Atom.
- **When building Python packages:** Move to PyCharm.
- **At some point:**
    - Learn enough Vim to not embarrass yourself. If you like it, enable Vim keybindings elsewhere.
    - Try out Emacs, Rodeo, and Spyder.

# Practice

Work on `lesson07_exploratory_data_analysis/practice/eda-data_cleaning_intro-lab-master/pandas-cleaning-apply.ipynb` in pairs using the driver/navigator approach. One person (the "driver") writes the code (sharing his or her screen) while the other person (the "navigator") continually makes suggestions and reviews the code. The driver should talk about what he or she is doing, ask for input, and generally keep the navigator engaged.

Many professional programmers swear by this "pair programming" approach to software development.

After half of our time is up, I will have you switch roles and work on `lesson06_experiments_and_hypothesis_testing/practice/eda-telecomm_group_project-lab-master/telecomm-eda-group-lab.ipynb`.

If you have already worked on one or both of these notebooks, that's totally fine. Be the driver for the one that you have worked on less, and review what you have already done with your partner before you extend it. If you are the navigator for a notebook you have already worked on, don't pull out your code. Let your partner take the lead and give feedback on the direction they take.

# Final Project Part 1 due Thurs.

https://git.generalassemb.ly/datr1618/course-info#projects

# Unit Project 2 due next week Tues.

https://git.generalassemb.ly/datr1618/unit_project2

# Questions?

# Exit Ticket

```
=========================================
@channel
Exit Ticket: https://goo.gl/forms/OUw4gyTiRKMOTI3t2        

#feedback
=========================================
```